/* Grille de 28 colonnes par 31 lignes */
/* Chaque case de 32 px */

#game 
{ 
    display: grid; /* Le plateau est en mode grille (grid)

    /* Définition des lignes : chaque ligne est composée de 31 éléments (cases) de 16px */
    grid-template-rows: repeat(31, 16px); 
    
    /* Définition des colonnes : chaque colonne est composée de 28 éléments de 16px */
    grid-template-columns: repeat(28, 16px);

    background-color: #000;
}

#pacman
{
    background-image: url('sprites/pacman-left/1.png');
	background-size: cover;

    grid-column-start: 5;
    grid-column-end: 6;

    grid-row-start: 2;
    grid-row-end: 3;
}