/* Grille de 28 colonnes par 31 lignes */
/* Chaque case de 32 px */

#game 
{ 
    display: grid; /* Le plateau est en mode grille (grid)

    /* Définition des lignes : chaque ligne est composée de 31 éléments (cases) de 16px */
    grid-template-rows: repeat(31, 16px); 
    
    /* Définition des colonnes : chaque colonne est composée de 28 éléments de 16px */
    grid-template-columns: repeat(28, 16px);

    background-color: #000;
}

#pacman
{
    /* background-image: url('sprites/pacman-left/1.png'); */

    
    animation: pacman-left 1s step-start infinite;

    grid-column-start: 5;
    grid-column-end: 6;

    grid-row-start: 2;
    grid-row-end: 3;
}

@keyframes pacman-left {
    0%, 100% {
        background-image: url('sprites/pacman-left/1.png');
    }
    25%, 75% {
        background-image: url('sprites/pacman-left/2.png');
    }
    50% {
        background-image: url('sprites/pacman-left/3.png');
    }
}

#pacman, .ghost
{
	background-size: cover;
}

#ghost-blinky
{
    background-image: url('sprites/ghosts/blinky.png');
}

#ghost-clyde
{
    background-image: url('sprites/ghosts/clyde.png');
}

#ghost-inky
{
    background-image: url('sprites/ghosts/inky.png');
}

#ghost-pinky
{
    background-image: url('sprites/ghosts/pinky.png');
}